@font-face {
  font-family: HalfTone;
  src: url(https://alexejdeveloper.github.io/igs-commander/fonts/TarrgetAcademyItalic.otf);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
  /* 10px/16px = 62.5% -> 1rem = 10px */
}

::-moz-selection {
  color: white;
}

::selection {
  color: white;
}

body {
  font-family: HalfTone, sans-serif;
  overflow: hidden;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}

.videoContainer {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  object-fit: cover;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
}

.pauseButton {
  position: absolute;
  top: 100px;
  right: 50px;
  padding: 10px 20px;
  background-color: #db1818;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
 
@keyframes magnetic-move {
  0% { transform: translateX(-7px) rotate(-3deg); }
  50% { transform: translateX(2px) rotate(1deg); }
  100% { transform: translateX(-6px) rotate(-3deg); }
}
.ship {
  animation: magnetic-move 2s infinite ease-in-out ;
  position: absolute;
  top: 2%;
  left: 50%;
  visibility: hidden;
}

.fighter {
  width: 12rem;
  height: 12rem;
  position: relative;
  z-index: 100;
  
}

.flameContainer {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 50%;
 
}

.fighterFlame {
  width: 30px;
  height: 30px;
  position: relative;
  -webkit-transform-origin: center bottom;
  transform-origin: center bottom;
  -webkit-animation-name: flicker;
  animation-name: flicker;
  -webkit-animation-duration: 3ms;
  animation-duration: 3ms;
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
  animation-direction: alternate;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.flame {
  bottom: -20px;
  position: absolute;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
  -webkit-transform: rotate(-45deg) scale(1.5, 1.5);
  transform: rotate(-45deg) scale(1.5, 1.5);
}

.yellow {
  left: 15px;
  width: 10px;
  height: 10px;
  background: #db1818;
  -webkit-box-shadow: 0px 0px 9px 4px #db1818;
  box-shadow: 0px 0px 9px 4px #db1818;
}

.orange {
  left: 10px;
  width: 20px;
  height: 20px;
  background: #db1818;
  -webkit-box-shadow: 0px 0px 9px 4px #db1818;
  box-shadow: 0px 0px 9px 4px #db1818;
}

.red {
  left: 5px;
  width: 30px;
  height: 30px;
  background: #db1818;
  -webkit-box-shadow: 0px 0px 5px 4px #0025ff;
  box-shadow: 0px 0px 5px 4px #0025ff;
}

.white {
  left: 15px;
  bottom: -14px;
  width: 10px;
  height: 10px;
  background: white;
  -webkit-box-shadow: 0px 0px 9px 4px white;
  box-shadow: 0px 0px 9px 4px white;
}

.circle {
  border-radius: 50%;
  position: absolute;
}

@-webkit-keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg) scaleY(1.04);
    transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    -webkit-transform: rotate(-2deg) scaleY(0.92);
    transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}

@keyframes flicker {
  0% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  20% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
  40% {
    -webkit-transform: rotate(-1deg);
    transform: rotate(-1deg);
  }
  60% {
    -webkit-transform: rotate(1deg) scaleY(1.04);
    transform: rotate(1deg) scaleY(1.04);
  }
  80% {
    -webkit-transform: rotate(-2deg) scaleY(0.92);
    transform: rotate(-2deg) scaleY(0.92);
  }
  100% {
    -webkit-transform: rotate(1deg);
    transform: rotate(1deg);
  }
}

.laser {
  position: absolute;
  display: inline-block;
  width: 23px;
  height: 18px;
  -webkit-transition: top 1.4s linear;
 
  transition: top 1.4s linear;
  visibility: hidden;
}
.laser-eye-left {
  top: 80px; /* или другая позиция для левого глаза */
  left: 25px; /* позиция для левого глаза относительно корабля */
}

.laser-eye-right {
  top: 80px; /* или другая позиция для правого глаза */
  left: 55px; /* позиция для правого глаза относительно корабля */
}

.asteroid {
  position: absolute;
  bottom: -3rem;
  height: 4rem;
  width: 4rem;
  -webkit-transition: top 4s linear;
  transition: bottom 4s linear;
  -webkit-animation: rotation 16s linear infinite;
  animation: rotation 16s linear infinite;
}

.counter {
  position: absolute;
  display: inline-block;
  font-size: 7rem;
  color: white;
  top: 20px;
  right: 58px;
}
.playerLabel {
  position: fixed;
  display: inline-block;
  font-size: 5rem;
  color: white;
  bottom: 20px;
  right: 58px;
}

.toggleMusic {
  position: fixed;
  bottom: 20px;
  left: 30px;
  cursor: pointer;
}

.muteSpeaker {
  position: absolute;
  display: inline-block;
  border-radius: 1rem;
  left: -10px;
  top: 17px;
  width: 6.2rem;
  height: 0.3rem;
  opacity: 0;
  background-color: #f52a2a;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
}

.musicButton {
  width: 3.9rem;
  height: 3.9rem;
}

.backgroundContainer {
  position: fixed;
  display: inline-block;
  font-size: 2rem;
  font-weight: bold;
  color: #db1818;
  bottom: 20px;
  left: 100px;
  cursor: pointer;
}

.backgroundContainer img {
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.backgroundContainer img:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.planet {
  height: 4rem;
  width: 4rem;
  margin-right: 1rem;
}

.playerNameContainer {
  width: 80rem;
  max-height: 100%;
  background-color: rgba(255, 255, 0, 0.151);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.01s linear;
  transition: all 0.01s linear;
  z-index: 100;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 20px dotted #db1818;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}
.startgame, .gameover {
  width: 55%;
  height: 60%;
  background-color: rgba(255, 255, 0, 0.151);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all 0.01s linear;
  transition: all 0.01s linear;
  z-index: 100;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  border: 20px dotted #db1818;
  text-align: center;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  box-sizing: border-box; /* Добавьте это, чтобы учитывать границы в размерах */
}

.playerTitle {
  padding-top: 1rem;
  color: #1840db;
  font-size: 2rem;
  text-decoration: underline;
}
.startgame, .gameover:hover {
  border: 20px solid #db1818(255, 187, 0);
}

.title {
  padding-top: 3rem;
  color: #1840db;
  font-size: 6rem;
  text-decoration: underline;
}

.highscoreContainer, #gameover {
  padding-bottom: 2rem;
  color: #1840db;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-size: 6rem;
}

.highscoreContainer .highscoreTitle {
  margin-right: 1rem;
}

.startplay, .play {
  cursor: pointer;
  position: absolute;
  top: 60%;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #1840db
  font-size: 10rem;
  cursor: pointer;
}
.playerPlay {
  cursor: pointer;
  margin-top: 2rem;
  margin-bottom: 1rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color:  #1840db;
  font-size: 10rem;
  cursor: pointer;
  font-size: 3rem;
}
.playerPlay:hover {
  transition: all 0.5s ease;
  color: #1840db;
}

.playerInput {
  margin-top: 2rem;
  font-size: 3rem;
  background-color: rgba(238, 233, 229, 0.845);
  color: #db1818;
  border: none;
  border-radius: 10px;
  text-align: center;
  pointer-events: auto;
}

.startgame, .gameover:hover .play {
  color: rgba(238, 14, 14, 0.863);
  font-size: 11rem;
}

.lives {
  position: absolute;
  display: inline-block;
  left: 30px;
  top: 20px;
}

.star {
  height: 6rem;
  margin-left: 0.5rem;
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/*# sourceMappingURL=style.css.map */
@media screen and (max-width: 600px) {
  .playerLabel {
    font-size: 2rem;
    bottom: 10px;
    right: 10px;
  }
  .counter {
    display: inline-block;
    font-size: 5rem;
    color: white;
    top: 10px;
    right: 40px;
  }
  .toggleMusic {
    position: fixed;
    bottom: 6px;
    left: 10px;
    cursor: pointer;
  }
  .musicButton {
    width: 3rem;
    height: 3rem;
  }
  .planet {
    height: 3rem;
    width: 3rem;
    margin-right: 0.6rem;
  }
  .backgroundContainer {
    position: fixed;
    display: inline-block;
    font-size: 2rem;
    font-weight: bold;
    color: #db1818;
    bottom: 6px;
    left: 50px;
    cursor: pointer;
  }
  .lives {
    position: fixed;
    display: inline-block;
    left: 10px;
    top: 10px;
  }
  .startgame, .gameover {
    width: 90%;
    height: 60vh;
    background-color: rgba(255, 255, 0, 0.151);
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    display: none;
  }
  .title {
    font-size: 3rem;
  }
  .highscoreContainer {
    font-size: 2rem;
  }
  .playerNameContainer {
    width: 90%;
  }
  .playerInput {
    width: 90%;
  }
}


.difficulty, .difficulty-buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

.difficulty button {
  padding: 1.5rem 3rem; /* Увеличенные отступы */
  font-size: 2rem; /* Увеличенный размер шрифта */
  cursor: pointer;
  border: none;
  border-radius: 10px; /* Более округлённые углы */
  transition: background-color 0.3s;
  min-width: 200px; /* Минимальная ширина кнопки */
  min-height: 60px; /* Минимальная высота кнопки */
  font-weight: bolder;
}

.difficulty-buttons button {
  padding: 1.5rem 3rem; /* Увеличенные отступы */
  font-size: 2rem; /* Увеличенный размер шрифта */
  cursor: pointer;
  border: none;
  border-radius: 10px; /* Более округлённые углы */
  transition: background-color 0.3s;
  min-width: 200px; /* Минимальная ширина кнопки */
  min-height: 60px; /* Минимальная высота кнопки */
  font-weight: bolder;
}

.difficulty .easy { background-color: #4CAF50; color: white; }
.difficulty .medium { background-color: #FF9800; color: white; }
.difficulty .hard { background-color: #F44336; color: white; }

.difficulty-buttons .easy { background-color: #4CAF50; color: white; }
.difficulty-buttons .medium { background-color: #FF9800; color: white; }
.difficulty-buttons .hard { background-color: #F44336; color: white; }

.difficulty button:hover {
  background-color: #333;
  color: white;
  font-weight: bolder;
}

.difficulty-buttons button:hover {
  background-color: #333;
  color: white;
  font-weight: bolder;
}

.imageContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
  opacity: 80%;
}

.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  position: absolute;
}



